.builder_container{width:100%;height:100%;}

.builder_container svg{height:1600px;position:relative;}
.builder_container svg *{user-select:none;}

.builder_container .properties_editor{width:300px;height:100%;background:#f0f0f0;position:fixed;top:0;right:0;}

svg text{pointer-events: none;}

svg .draggable rect{cursor: pointer;stroke: rgba(0, 0, 0, 1);stroke-width: 2px;}

svg foreignObject .cache{width:calc(100% - 5px);height:100%; overflow:auto;}
svg foreignObject .cache *{pointer-events: none;}
svg foreignObject div[data-name="title"]{}
svg foreignObject div[data-name="description"]{font-size:12px;}
svg foreignObject *[data-empty="true"]{color:#666;}

svg g[data-type="diagnostic"]{fill:#ffce22;}
svg g[data-type="reflexion"]{fill:#fff;}
svg g[data-type="treatment"]{fill:#e0ffc0;}

svg g text{fill:#000;}

svg g.grade{}
svg g[data-role="grades"] g[data-role="grade"] rect{fill:#d20000;stroke-width: 0;}
svg g[data-role="grades"] g[data-role="grade"] text{fill:#fff;font-size:13px;}
svg g[data-role="notes"] g[data-role="note"] circle{fill:#60a0ff;stroke-width: 0;}
svg g[data-role="notes"] g[data-role="note"] text{fill:#fff;font-size:13px;}

svg g path[data-role="resize"]{cursor:nwse-resize;}

svg .draggable:hover rect{stroke-width: 2px;stroke: rgb(58, 164, 218);}

svg .draggable[data-dragdrafted="true"] rect{stroke: rgb(51, 153, 255);}
svg circle.draggable[data-dragdrafted="true"]{stroke-width:1px;stroke: rgb(51, 153, 255);}

svg .draggable.edit rect{stroke: rgb(99, 218, 101);}

svg circle.anchor{fill:rgba(0, 0, 0, .10);cursor:pointer;}
svg.content_mode circle, svg.content_mode path[data-role="resize"]{ fill:rgba(0, 0, 0, 0);pointer-events: none;}
svg.content_mode foreignObject div.cache{overflow:hidden;}

svg line.segment{stroke:black;stroke-width:2px;}

svg rect.selector{fill:rgba(51, 153, 255, .35);stroke:rgba(51, 153, 255, 1);stroke-width: 1px;}

.properties_editor{box-shadow:0 0 3px rgba(0, 0, 0, .3);}

.properties_editor .actions{text-align: center;}

.properties_editor .actions button, .properties_editor .properties .add_link_handler button{ display:inline-block;padding:7px 7px 7px 0;margin:5px auto 0;background:#217ebd;border:none;color:#fff;border-radius:3px;cursor:pointer;}
.properties_editor .actions button.delete{background: #e51926;margin-left:5px;}
.properties_editor .actions span{vertical-align: middle;}
.properties_editor .actions button:disabled, .properties_editor .properties .add_link_handler button:disabled{ background: #7faebd;color: #ececec;pointer-events: none;}
.properties_editor .actions button.inactive{padding:6px 6px 6px 0;background: #74b3d2;color: #e0f3ff;}

.properties_editor .properties{margin-bottom:15px;}

.properties_editor .properties .inp_container{padding:15px;border-bottom:solid 1px #ddd;}
.properties_editor .properties .inp_container label{display:block;}
.properties_editor .properties .inp_container input[type="text"],.properties_editor .properties .inp_container input[type="number"]{width:calc(100% - 10px);padding:5px;border:solid 1px #bbb;}
.properties_editor .properties .inp_container input[type="text"]:focus,.properties_editor .properties .inp_container input[type="text"]:focus{border-color:#666;}
.properties_editor .properties .inp_container textarea{width:calc(100% - 10px);padding:5px;border:solid 1px #bbb;height:150px;resize: vertical;}
.properties_editor .properties .inp_container textarea:focus{border-color:#666;}
.properties_editor .properties .inp_container select{width:100%;padding:5px;}
.properties_editor .properties .inp_container select option{padding:5px;}
.properties_editor .properties .inp_container select option[value="diagnostic"]{background:#ffce22;}
.properties_editor .properties .inp_container select option[value="reflexion"]{background:#fff;}
.properties_editor .properties .inp_container select option[value="treatment"]{background:#e0ffc0;}
.properties_editor .properties .add_link_handler{padding:15px;border-bottom:solid 1px #ddd;}
.properties_editor .properties .add_link_handler label{display:block;}
.properties_editor .properties .add_link_handler select{padding:7px;width:calc(100% - 58px);}
.properties_editor .properties .add_link_handler button{display:inline-block;width:58px;text-align: center;}

.properties_editor .properties ul{padding:0;margin:0;list-style:none;}
.properties_editor .properties ul li{padding:5px;}
.properties_editor .properties ul li span[data-remove]{font-size:18px;float:right;cursor:pointer;transition: all .3s;}
.properties_editor .properties ul li span[data-remove]:hover{transform:rotate(90deg);}

.properties_editor .properties ul.next li{background:#fafafa;border-bottom:solid 1px #eee;}
.properties_editor .properties ul.notes li,
.properties_editor .properties ul.grades li{display:inline-block;}
.properties_editor .properties ul.notes li span:first-of-type{background:#60a0ff;font-size:13px;color:#fff;width:15px;height:15px;border-radius:50%;display:inline-block;text-align:center;}
.properties_editor .properties ul.grades li span:first-of-type{background:#d20000;font-size:13px;color:#fff;padding:2px;}

.properties_editor .properties h2{font-size:18px;line-height: 18px;margin-bottom:0;margin-top:30px;text-align:center;}
.properties_editor .properties .buttons{text-align: center;padding:2px 0;}
.properties_editor .properties .buttons span.spacer{display:inline-block;width:10px;}
.properties_editor .properties .buttons button{background:none;border:none;cursor:pointer;}